body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Navigation Bar */
#home {
  background-color:  #7600bc;
  padding-bottom: 1cm;
  margin-left:-1cm;
  margin-right:-1cm;
  margin-top:-1cm;
  padding-top: 2cm;
  text-align: center;
}

.contact_info {
  float: right;
  color: rgb(40, 25, 246);
  font-size: 15px;
  text-align: left;
}

.profile_name {
  float: left;
  color: white;
  font-size: 15px;
  padding-right: 40px;
  padding-left: 40px;
}

.profile_image {
  border-radius: 50%;
  animation: slideInFromLeft 1s ease-out;
}

.animated-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.topdiv {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1cm;
  padding-bottom: 1cm;
  background-color: #a9a9a9;
}

.topmenu {
  padding-left: 2cm;
  padding-right: 2cm;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.topmenu:hover {
  color: #000;
  background-color: #c5b1b1;
}

/* About Me */
.container {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1, h2, h3, h4 {
  color: #0b2e6d;
}

p {
  color: #303030;
}

/* Skills */
#skills {
  padding-top: 20px;
  text-align: center;
  background-color: #e8e8e8;
}

.skill {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.skill:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.skill img {
  width: 100px;
  height: 100px;
}

.all_skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #ccc;
}

/* Projects */
.projects {
  text-align: center;
  padding-top: 20px;
}

.project-card {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-image {
  transition: transform 0.3s;
}

.project-image:hover {
  transform: scale(1.1);
}

h3 {
  color: #007bff;
}

/* Recommendations */
#recommendations {
  padding-top: 20px;
}
h5{
  text-align: left;
  color:red;
}

.recommendation {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f8f8;
  text-align: left;


}
h2{
  text-align: left;
}

.all_recommendations {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.introduction {
  text-align: center;
}

.iconbutton {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.popup img {
  display: block;
  margin: 0 auto;
}

.popup h3 {
  text-align: center;
  color: #007bff;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: 50%;
}

textarea {
  width: 100%;
  height: 100px;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

/* Keyframes for animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.copyright {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  background-color: blueviolet;
  color: white;
  
}